services:
  - type: web
    name: alpha-trading-backend
    env: python
    buildCommand: pip install -r backend/requirements.txt
    startCommand: gunicorn -k uvicorn.workers.UvicornWorker backend.main:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.9.0
    plan: free
    branch: main
    region: oregon
